<!DOCTYPE html>
<html lang="en">
  <head>
    <title>image2ascii</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/styles.css"/>
    <link rel="icon" href="/favicon.ico" sizes="32x32">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <script src="../static/script.js"></script>
  </head>
  <body class="w-full pt-12 px-2 flex flex-col min-h-screen bg-white dark:bg-neutral-900 dark:text-neutral-100">
    <dialog id="info-popup" class="rounded-lg p-4 dark:bg-neutral-900 dark:text-neutral-100 border border-gray-400 backdrop:bg-black/50">
      <div class="w-full md:w-[680px] relative flex flex-col">
        <div class="sticky top-0 right-0 flex justify-end">
          <button type="button" id="info-popup-close" class="w-fit" title="Close">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-square-x">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M9 9l6 6m0 -6l-6 6"/>
            </svg>
          </button>
        </div>

        <div class="flex flex-col gap-2 overflow-y-auto max-h-[75vh]">
          <h1 class="text-2xl">Frequently Asked Questions</h1>
          <div class="pl-2 md:pl-4">
  
            <!-- Question 1 -->
            <h2 class="text-lg">
              <em>Why do my Twitch/Discord ASCII outputs look bad?</em>
            </h2>
            <ul class="text-sm">
              <li class="pl-2 md:pl-4">
                Unfortunately, compressing a normal image down to a 1-bit image that can be posted in small chatboxes is hard.
                But it is possible to achieve good results. For Twitch and Discord ASCII, small, low-detail images with sharp color gradients are
                recommended.
              </li>
            </ul>
  
            <!-- Question 2 -->
            <h2 class="text-lg">
              <em>What are the differences between each Style?</em>
            </h2>
            <ul class="text-sm">
              <li class="pl-2 md:pl-4">
                The first 4 Styles use <a class="underline" href="https://en.wikipedia.org/wiki/Dither" target="_blank">dithering</a>, a technique that
                introduces intentional noise in an attempt to reduce the 
                <a class="underline" href="https://en.wikipedia.org/wiki/Quantization_(image_processing)" target="_blank">quantization error</a>, 
                which, in this case, is the error introduced by reducing the color palette from 16,777,216 colors to 2 colors.
              </li>
              <li>
                <ul class="pl-2 md:pl-4 list-disc list-inside">
                  <li class="pl-2 md:pl-4">
                    <strong>Normal:</strong> Uses <a class="underline" href="https://en.wikipedia.org/wiki/Floyd%E2%80%93Steinberg_dithering" target="_blank">Floyd-Steinberg dithering</a>,
                    which is the most famous dithering technique. This is an "all around" algorithm, that produces solid results in most cases.
                  </li>
                  <li class="pl-2 md:pl-4">
                    <strong>High Contrast:</strong> Uses <a class="underline" href="https://en.wikipedia.org/wiki/Atkinson_dithering" target="_blank">Atkinson dithering</a>,
                    likely the second most popular dithering technique. Atkison tends to produce a "softer" results, with higher brightness contrast control
                    than other dithering techniques. This is a good option when you want the exposure slider to have a greater effect.
                  </li>
                  <li class="pl-2 md:pl-4">
                    <strong>Edge Contrast:</strong> Uses <a class="underline" href="https://tannerhelland.com/2012/12/28/dithering-eleven-algorithms-source-code.html#sierra-dithering" target="_blank">Sierra Lite</a>, 
                    a dithering technique menthioned briefly in this dithering atricle. This technique produces similar results to Normal, but due 
                    to it's smaller diffusion matrix, tends to have sharper edges, which may be desireable for certain images.
                  </li>
                  <li class="pl-2 md:pl-4">
                    <strong>Smooth:</strong> Uses <a class="underline" href="https://en.wikipedia.org/wiki/Error_diffusion#minimized_average_error" target="_blank">minimized average error</a>,
                    another relatively popular dithering technique. With a relatively large diffusion matrix, this technique tends to produce the
                    "smoothest" feeling results. 
                  </li>
                </ul>
              </li>
              <li class="pl-2 md:pl-4">
                The 5th and final style, <strong>Brightness</strong>, is the most simple. For each pixel, if the <a class="underline" href="https://en.wikipedia.org/wiki/Lightness#1976" target="_blank">percieved brightness</a>
                exceeds the exposure threshold, it will render "on". Otherwise, the pixel renders "off". The exposure slider has great effects on the output
                of this style, and depending on the image, can actually provide more desireable results than the more advanced dithering approaches. 
              </li>
            </ul>
  
            <!-- Question 3 -->
            <h2 class="text-lg">
              <em>I am not using Twitch or Discord, but a different application. How can I generate a correctly-sized result?</em>
            </h2>
            <ul class="text-sm">
              <li class="pl-2 md:pl-4">
                First, you need to figure out the width of your chatbox measured in characters. Next, you need to consider character limits, if any. 
                This will put a limit on the height of your ASCII, which can be calculated via the following:
                <math display="block" class="py-3">
                  <mrow>
                    <mi>height</mi>
                    <mo>=</mo>
                    <mo>&lfloor;</mo>
                    <mfrac>
                      <msub>
                        <mi>character</mi>
                        <mn>max</mn>
                      </msub>
                      <mi>width</mi>
                    </mfrac>
                    <mo>&rfloor;</mo>
                  </mrow>
                </math>
                Finally, select the <code class="px-1">Custom</code> size, and enter your width. If the computed height exceeds your height, uncheck <code class="px-1">Maintain Aspect Ratio</code>
                and manually enter your height.
              </li>
            </ul>
          </div>
  
          <h1 class="text-2xl">About This Website</h1>
          <div class="pl-4 md:pl-8 text-sm">
            <p>Created by Tony Montemuro. To get in contact with me, check out <a class="underline" href="https://tonysmb.com/" target="_blank">my website</a>.</p>
            <p>This website is open source. <a class="underline" href="https://github.com/tony-montemuro/image2ascii" target="_blank">Click here</a> to view / contribute to the code!</p>
            <p><strong>Fun Fact:</strong> The logo for this website was created by this website.</p>
          </div>
        </div>
      </div>
    </dialog>
    <button id="display" type="button" title="Dark mode" class="fixed top-0 right-0 pr-4 pt-4 z-10">
      <svg id="display-light" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-moon">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z"/>
      </svg>
      <svg id="display-dark" class="sr-only" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-sun">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"/>
        <path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7"/>
      </svg>
    </button>
    <div class="flex justify-center flex-col gap-4 items-center">
      <img src="../assets/logo.png" id="logo" alt="image2ascii Logo" class="w-64 h-auto" />
      <img src="../assets/logo-dark.png" id="logo-dark" alt="image2ascii Dark Logo" class="w-64 h-auto sr-only" />
      <form id="form" class="flex flex-col gap-2 w-full md:w-fit" method="post">
        <input type="hidden" id="theme" name="{{ .names.theme }}" value="light" />
        <div class="flex flex-col lg:flex-row gap-2">

          <!-- Image Upload -->
          <div class="flex justify-center">
            <label
              for="image"
              role="button"
              tabindex="0"
              class="w-full lg:w-96 sm:min-w-96 h-52 bg-gray-200 hover:bg-gray-200/80 dark:bg-zinc-800/80 dark:hover:bg-zinc-800 border border-dashed border-gray-400 rounded-lg cursor-pointer btn p-1 rounded"
              id="upload"
            >

              <!-- Left Side -->
              <div class="h-full flex items-center">
                <div class="flex flex-row items-center">
                  <div id="img-placeholder" class="p-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="5rem" height="5rem" viewBox="0 0 24 24" fill="currentColor">
                      <path d="M0 0h24v24H0V0z" fill="none"/>
                      <path d="M18 20H4V6h9V4H4c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-9h-2v9zm-7.79-3.17l-1.96-2.36L5.5 18h11l-3.54-4.71zM20 4V1h-2v3h-3c.01.01 0 2 0 2h3v2.99c.01.01 2 0 2 0V6h3V4h-3z"/>
                    </svg>
                  </div>
                  <div id="thumbnail-wrapper" class="sr-only w-40 h-full p-2 flex items-center flex flex-col gap-1">
                    <img id="thumbnail" class="w-full h-40 object-contain grayscale-[75%]" src="" title="Your Image" />
                    <span id="thumbnail-name" class="w-full text-xs text-center text-ellipsis overflow-hidden whitespace-nowrap"></span>
                  </div>
                </div>

                <!-- Right Side -->
                <div class="w-full flex flex-col items-center justify-center">
                  <strong class="text-lg">Drag & Drop Image</strong>
                  <span>or</span>
                  <div class="w-28 h-12 bg-blue-500 hover:bg-blue-500/90 inline-flex items-center justify-center cursor-pointer rounded-full border-2 border-transparent">
                    <span class="text-white">Browse Files</span>
                  </div>
                </div>
              </div>
            </label>
            <input 
              type="file"
              id="image"
              name="{{ .names.image }}"
              accept="image/png, image/jpg, image/jpeg"
              class="sr-only"
              tabindex="-1"
            />
          </div>

          <!-- Options -->
          <div id="options" class="sr-only flex flex-col gap-2 items-center">
            <div class="relative flex flex-col gap-2 w-full md:w-fit bg-gray-200 dark:bg-zinc-800/80 border border-gray-400 rounded p-4">
              <button id="info" type="button" title="Information" class="absolute top-0 right-0 pt-2 pr-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-info-circle">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"/>
                  <path d="M12 9h.01"/><path d="M11 12h1v4h1"/>
                </svg>
              </button>

              <!-- Size -->
              <strong>Size</strong>
              <div id="size" class="flex md:flex-row flex-col gap-2">

                <div class="flex flex-row gap-2 justify-between md:justify-start">
                  <!-- Small Option -->
                  <div class="flex justify-center w-full md:w-24">
                    <input 
                      type="radio" 
                      id="small" 
                      name="size" 
                      value="small" 
                      class="peer absolute opacity-0 w-0 h-0"
                    >
                    <label 
                      for="small" 
                      class="w-full px-4 py-2 bg-red-600 hover:bg-red-600/90 cursor-pointer rounded-full text-white peer-checked:ring-2 peer-checked:ring-blue-500 peer-checked:ring-offset-2 dark:peer-checked:ring-offset-zinc-800/80"
                      tabindex="0"
                      title="Small"
                    >
                      <span class="inline-block align-middle text-center w-full">Small</span>
                    </label>
                  </div>
  
                  <!-- Medium Option -->
                  <div class="flex justify-center w-full md:w-24">
                    <input 
                      type="radio" 
                      id="medium" 
                      name="size" 
                      value="medium" 
                      class="peer absolute opacity-0 w-0 h-0"
                      checked
                    >
                    <label 
                      for="medium" 
                      class="w-full px-4 py-2 bg-yellow-600 hover:bg-yellow-600/90 cursor-pointer rounded-full text-white peer-checked:ring-2 peer-checked:ring-blue-500 peer-checked:ring-offset-2 dark:peer-checked:ring-offset-zinc-800/80"
                      tabindex="0"
                      title="Medium"
                    >
                      <span class="inline-block align-middle text-center w-full">Medium</span>
                    </label>
                  </div>
  
                  <!-- Large Option -->
                  <div class="flex justify-center w-full md:w-24">
                    <input 
                      type="radio" 
                      id="large" 
                      name="size" 
                      value="large" 
                      class="peer absolute opacity-0 w-0 h-0"
                    >
                    <label 
                      for="large" 
                      class="w-full px-4 py-2 bg-green-600 hover:bg-green-600/90 cursor-pointer rounded-full text-white peer-checked:ring-2 peer-checked:ring-blue-500 peer-checked:ring-offset-2 dark:peer-checked:ring-offset-zinc-800/80"
                      tabindex="0"
                      title="Large"
                    >
                      <span class="inline-block align-middle text-center w-full">Large</span>
                    </label>
                  </div>
                </div>

                <div class="flex flex-row gap-2 justify-between md:justify-start">
                  <!-- Twitch Option -->
                  <div class="relative w-full md:w-24">
                    <input 
                      type="radio" 
                      id="twitch"
                      name="size" 
                      value="twitch" 
                      class="peer absolute opacity-0 w-0 h-0"
                    >
                    <label 
                      for="twitch" 
                      class="w-full h-12 bg-twitch hover:bg-twitch/90 inline-flex items-center justify-center cursor-pointer rounded-full border-2 border-transparent peer-checked:ring-2 peer-checked:ring-blue-500 peer-checked:ring-offset-2 dark:peer-checked:ring-offset-zinc-800/80"
                      tabindex="0"
                      title="Twitch"
                    >
                      <img src="../assets/twitch.png" alt="Twitch" class="w-8 h-auto" />
                    </label>
                  </div>
  
                  <!-- Discord Option -->
                  <div class="relative w-full md:w-24">
                    <input 
                      type="radio" 
                      id="discord" 
                      name="size" 
                      value="discord" 
                      class="peer absolute opacity-0 w-0 h-0"
                    >
                    <label 
                      for="discord" 
                      class="w-full h-12 bg-discord hover:bg-discord/90 inline-flex items-center justify-center cursor-pointer rounded-full border-2 border-transparent peer-checked:ring-2 peer-checked:ring-blue-500 peer-checked:ring-offset-2 dark:peer-checked:ring-offset-zinc-800/80"
                      tabindex="0"
                      title="Discord"
                    >
                      <img src="../assets/discord.png" alt="Discord" class="w-8 h-auto" />
                    </label>
                  </div>
  
                  <!-- Custom Option -->
                  <div class="flex justify-center w-full md:w-24">
                    <input 
                      type="radio" 
                      id="custom" 
                      name="size" 
                      value="custom" 
                      class="peer absolute opacity-0 w-0 h-0"
                    >
                    <label 
                      for="custom"
                      class="w-full px-4 py-2 bg-gray-400 hover:bg-gray-400/90 cursor-pointer rounded-full text-white peer-checked:ring-2 peer-checked:ring-blue-500 peer-checked:ring-offset-2 dark:peer-checked:ring-offset-zinc-800/80"
                      tabindex="0"
                      title="Custom"
                    >
                      <span class="inline-block align-middle text-center w-full">Custom</span>
                    </label>
                  </div>
                </div>
              </div>

              <!-- Width & Height (only shown if user selects "custom" radio) -->
              <div id="custom-size" class="flex flex-col">
                <div class="flex gap-2 flex-col md:flex-row">
                  <div class="flex gap-2">
                    <div class="flex gap-1 items-center">
                      <label for="width">Width</label>
                      <input
                        type="number"
                        id="width"
                        name="{{ .names.width }}"
                        min="1"
                        max="500"
                        step="1"
                        class="bg-gray-100 dark:bg-gray-700 outline-none border-2 border-gray-100 dark:border-gray-800 rounded p-1 read-only:cursor-default"
                        readonly
                        tabindex="-1"
                        title="Width"
                      />
                    </div>
                    <div class="flex gap-1 items-center">
                      <label for="height">Height</label>
                      <input
                        type="number"
                        id="height"
                        name="{{ .names.height }}"
                        min="1"
                        max="500"
                        step="1"
                        class="bg-gray-100 dark:bg-gray-700 outline-none border-2 border-gray-100 dark:border-gray-800 rounded p-1 read-only:cursor-default"
                        readonly
                        tabindex="-1"
                        title="Height"
                      />
                    </div>
                  </div>
                  <div class="flex gap-1 items-center">
                    <label for="aspect-ratio">Maintain Aspect Ratio</label>
                    <div class="relative flex align-middle">
                      <input 
                        type="checkbox"
                        id="aspect-ratio"
                        class="relative peer shrink-0 appearance-none w-5 h-5 bg-white dark:bg-neutral-900 checked:bg-gray-600 opacity-40 dark:checked:bg-gray-400 dark:opacity-70 border border-gray-100 dark:border-gray-800 rounded cursor-pointer disabled:cursor-default"
                        disabled
                        checked
                        title="Maintain Aspect Ratio"
                      />
                      <svg class="absolute inset-0 w-5 h-5 hidden stroke-white dark:stroke-black peer-checked:block pointer-events-none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round">
                        <polyline points="20 6 9 17 4 12"></polyline>
                      </svg>
                    </div>
                  </div>
                </div>
                <div id="size-warning" class="sr-only text-yellow-500 flex items-center gap-1">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
                    <path d="M12 2c5.523 0 10 4.477 10 10a10 10 0 0 1 -19.995 .324l-.005 -.324l.004 -.28c.148 -5.393 4.566 -9.72 9.996 -9.72zm.01 13l-.127 .007a1 1 0 0 0 0 1.986l.117 .007l.127 -.007a1 1 0 0 0 0 -1.986l-.117 -.007zm-.01 -8a1 1 0 0 0 -.993 .883l-.007 .117v4l.007 .117a1 1 0 0 0 1.986 0l.007 -.117v-4l-.007 -.117a1 1 0 0 0 -.993 -.883z"/>
                  </svg>
                  <div id="size-warning-text"></div>
                </div>
              </div>

              <!-- Exposure -->
              <div class="flex flex-col gap-1">
                <label for="exposure" class="w-fit">
                  <strong>Exposure</strong>
                </label>
                <div class="flex flex-row gap-2">
                  <input
                    type="range"
                    id="exposure"                    
                    name="{{ .names.exposure }}"
                    min="0"
                    max="100"
                    class="cursor-pointer"
                    title="Exposure"
                  />
                  <input
                    type="number"
                    id="exposure-value"
                    min="0"
                    max="100"
                    step="1"
                    value="50"
                    title="Exposure Value"
                    class="outline-none border-2 border-gray-100 dark:border-gray-800 rounded p-1 dark:bg-neutral-900"
                  />
                </div>
              </div>

              <!-- Style -->
              <div class="flex flex-col gap-1">
                <label for="style" class="w-fit">
                  <strong>Style</strong>
                </label>
                <div class="border-2 rounded border-gray-100 dark:border-gray-800 w-fit">
                  <select
                    id="style"
                    name="{{ .names.style }}"
                    class="p-1 dark:bg-neutral-900 cursor-pointer rounded dark:border-gray-800"
                    title="Style"
                  >
                    {{ range .styleOptions }}
                      <option value="{{ .Value }}">{{ .Label }}</option>
                    {{ end }}
                  </select>
                </div>
              </div>

              <!-- Invert -->
              <div class="flex flex-col gap-1">
                <label for="invert" class="w-fit">
                  <strong>Invert</strong>
                </label>
                <div class="relative">
                  <input
                    type="checkbox"
                    id="invert"
                    name="{{ .names.invert }}"
                    class="relative peer shrink-0 appearance-none w-5 h-5 bg-white dark:bg-neutral-900 checked:bg-black dark:checked:bg-white border border-gray-100 dark:border-gray-800 rounded cursor-pointer"
                    title="Invert"
                    />
                  <svg class="absolute inset-0 w-5 h-5 hidden stroke-white dark:stroke-black peer-checked:block pointer-events-none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round">
                    <polyline points="20 6 9 17 4 12"></polyline>
                  </svg>
                </div>
              </div>

              <button
                id="submit"
                class="bg-blue-500 hover:bg-blue-500/90 text-white py-2 rounded-lg flex items-center justify-center min-h-[42px]"
                type="submit"
                title="Convert to ASCII"
              >
                <span id="submit-btn-text">Convert to ASCII</span>
                <svg id="submit-btn-spinner" class="size-5 animate-spin fill-white sr-only" viewBox="0 0 24 24">
                  <path d="M12,1A11,11,0,1,0,23,12,11,11,0,0,0,12,1Zm0,19a8,8,0,1,1,8-8A8,8,0,0,1,12,20Z" opacity=".25"/>
                  <path d="M10.14,1.16a11,11,0,0,0-9,8.92A1.59,1.59,0,0,0,2.46,12,1.52,1.52,0,0,0,4.11,10.7a8,8,0,0,1,6.66-6.61A1.42,1.42,0,0,0,12,2.69h0A1.57,1.57,0,0,0,10.14,1.16Z"/>
                </svg>
              </button>
            </div>

          </div>
        </div>

        <!-- Error message -->
        <div id="error" class="sr-only text-red-500 text-center"></div>

      </form>

      <!-- Output -->
      <div id="output-wrapper" class="relative sr-only max-w-full overflow-x-auto">
        <table id="output" class="relative table border rounded p-2 font-mono whitespace-pre-wrap overflow-x-auto border-collapse text-[0.5rem] cursor-pointer"></table>
        <div id="output-copy-success" class="absolute inset-0 backdrop-blur-sm sr-only flex items-center justify-center cursor-pointer pointer-events-none">
          <span class="p-2 bg-gray-200/80 rounded cursor-pointer">
            Copied to Clipboard!
          </span>
        </div>
        <div id="output-copy-failure" class="absolute inset-0 bg-red-100/50 backdrop-blur-sm sr-only flex items-center justify-center cursor-pointer pointer-events-none">
          <span class="p-2 bg-gray-400/80 rounded cursor-pointer">
            Error Copying Output
          </span>
        </div>
      </div>
    </div>
  </body>
</html>